:root {
  --background: #f7f7f7;
  --text: #111;
  --accent1: #627254;
  --accent1O: rgba(98, 114, 84, 0.9);
  --accent1O1: rgba(98, 114, 84, 0.7);
  --accent2: #76885B;
  --accent3: #DDD;
  --accent4: #EEE;

  --topImage: center/cover url('./images/MainBackgroundPhoto.png');

  --topPagesImage: top/cover url('./images/TopPages.png');

  /* https://images.pexels.com/photos/142497/pexels-photo-142497.jpeg */

  --svg: url('./images/SmallLogoBlurb.svg') no-repeat;

  --font: 'Roboto', sans-serif;
  --header: 'Antonio', serif;
}



/* IMAGES */

.code-of-ethics {
  background: center/cover url('./images/CodeOfEthics.png'), #fff;
}

.about-us {
  background: center/cover url('./images/AboutUsAndOurMission.png'), #fff;
}

.land-n-timber {
  background: center/contain url('./images/LandAndTimberManagment.jpg') no-repeat, #fff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
}

.fa-magnifying-glass-plus {
  opacity: 0;
  margin: 10px;
  font-size: 28px;
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff;
  color: #000;
  transition: all 0.2s;
}

.land-n-timber:hover .fa-magnifying-glass-plus {
  opacity: 1;
}

.reforestation {
  background: center/cover url('./images/SilvicultureAndReforestationPlanning.png'), #fff;
}

.natural-resource {
  background: center/cover url('./images/NaturalResourceResearch.jpg'), #fff;
}

.dement-ranch {
  background: center/cover url('./images/DementRanchTestimonial.png'), #fff;
}

.curry-county {
  background: center/cover url('./images/ClientInCurryTestimonial.png'), #fff;
}



/* GENERAL */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background: var(--background);
  font: 16px var(--font);
}

a {
  color: var(--accent1);
}

a:hover {
  color: var(--accent2);
}



/* SCROLLBAR */
/* will not work on all browsers - non-standard */

::-webkit-scrollbar {
  background: var(--accent3);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent2);
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/* BLURBS */

.blurb-header {
  font: 45px var(--header);
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--accent2);
  margin: 10px 0 20px;
}

.blurb {
  text-align: justify;
  line-height: 20px;
}

ul {
  margin-left: 15px;
}



/* HEADER */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--accent1O);
  color: var(--accent4);
  z-index: 1000;
  transition: all 0.5s;
}

#header-page {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--accent1O);
  color: var(--accent4);
  z-index: 1000;
  transition: all 0.5s;
}

#header-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--accent1);
  color: var(--accent4);
  z-index: 1000;
}

.header-title,
.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title:hover .name {
  color: #f5fdce;
}

.header-title div,
.header-links a {
  display: block;
  width: fit-content;
  padding: 4px 20px;
}

.header-links a {
  margin: 4px 20px;
  padding: 2px 8px;
  background: linear-gradient(90deg, var(--accent4), var(--accent4)) no-repeat;
  background-size: 0% 10%;
  background-position: bottom right;
  transition: all 0.4s, background-position 0s;
}

.header-links a:hover {
  background-size: 100% 10%;
  background-position: bottom left;
}

#header a,
#header-page a,
#header-contact a {
  color: var(--accent4);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
}

.logo.small {
  padding-right: 0;
}

.logo.small img {
  height: 60px;
}

#header .header-title .name {
  font: 28px var(--header);
  padding: 0 20px 8px;
}

#header-page .header-title .name,
#header-contact .header-title .name {
  font: 22px var(--header);
  padding: 0 20px 8px;
}

#header .header-title .subtitle,
#header-page .header-title .subtitle,
#header-contact .header-title .subtitle {
  font-size: 12px;
}



/* TOP */

#top {
  background: var(--topImage), var(--accent2);
  height: 100vh;
}

#top .top-blurb {
  width: 60vw;
  position: absolute;
  bottom: 0;
  background: var(--accent1O1);
  color: var(--accent4);
  padding: 20px 40px 40px;
  cursor: default;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#top-pages {
  background: var(--topPagesImage), var(--accent2);
  height: 75vh;
}



/* BOTH TOPICS */

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  cursor: default;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.topic-blurb {
 width: 60%;
 font-size: 15px;
}

.topic-picture {
  max-height: 70vh;
  min-height: 50vh;
  width: 30%;
  box-shadow: 2px 2px 4px #333;
}



/* TOPIC1 & 3 */

#topic1,
#topic3 {
  background: 25% / 30% var(--svg), var(--background);
  min-height: 75vh;
}



/* TOPIC2 */

#topic2 {
  background: 75% / 30% var(--svg),  var(--accent4);
  min-height: 75vh;
}



/* TOPIC BASES */

#topic-bases {
  background: 50% / 30% var(--svg), var(--background);
  min-height: 75vh;
}

#topic-bases .topic-blurb {
  width: 80%;
  margin: auto;
}

#topic-bases .blurb-header {
  text-align: center;
}

#topic-bases .blurb {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#topic-bases .base-section {
  margin: 20px;
}

#topic-bases .image-base {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin: 0 auto 20px;
  box-shadow: 2px 2px 4px #333;
  transition: all 0.2s;
}

#topic-bases .image-base:hover {
  transform: scale(1.1);
}

#topic-bases .image1 {
  background: center/cover url('./images/pexels-pixabay-landowners.jpg');
}

#topic-bases .image2 {
  background: center/cover url('./images/pexels-souvenirpixels-federal.jpg');
}

#topic-bases .image3 {
  background: center/cover url('./images/pexels-lara-jameson-nonprofit.jpg');
}

#topic-bases .image4 {
  background: 75% 75%/300%  url('./images/pexels-mount-polley-forester.jpg');
}



/* CONTACT */

#contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px 0;
  background:  85% / 30% var(--svg);
}

.contact-info {
  width: 35%;
  font: 20px var(--header);
  cursor: default;
}



/* FORM */

form {
  width: 50%;
  margin: auto;
  padding: 0 50px 0 0;
  border-right: 2px solid var(--accent2);
}

form div {
  margin: 10px 0;
}

label {
  font: 18px var(--header);
}

input,
textarea {
  background: var(--accent3);
  border: 1px solid var(--accent1);
  color: var(--text);
  width: 100%;
  padding: 4px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

textarea {
  height: 150px;
}

input:focus,
textarea:focus {
  background: var(--accent1);
  color: var(--accent4);
}

button {
  background: var(--accent1);
  color: var(--accent4);
  font: 18px var(--header);
  border: none;
  border-radius: 5px;
  padding: 6px 22px 8px;
  float: right;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

button:hover {
  background: var(--accent2);
}



/* FOOTER */

#footer {
  background: var(--accent2);
  color: var(--background);
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#footer-page {
  background: var(--accent2);
  color: var(--background);
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-address {
  line-height: 15px;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: default;
}

.footer-address span {
  display: block;
}

.footer-top {
  display: flex;
  flex-direction: row;
  font-size: 35px;
  text-shadow: 0 4px 4px var(--accent1);
}

.footer-top a {
  color: var(--accent4);
  transition: all 0.2s;
}

.footer-top a:hover {
  margin-bottom: 10px;
}



/* MOBILE */

@media (max-width: 950px) {
  #header,
  #header-page,
  #header-contact {
    flex-direction: column;
    padding: 5px;
  }
  .header-title {
    justify-content: center;
    margin-bottom: 20px;
  }
  #header-page .header-title
  #header-contact .header-title {
    margin-bottom: 5px;
  }
  .header-title div,
  .header-links a {
    margin: 4px;
  }
  #top .top-blurb {
    width: 100%;
  }
}

@media (max-width: 800px) { 
  #topic1,
  #topic3 {
    flex-direction: column-reverse;
    background: 50% / 50% var(--svg), var(--background);
  }
  #topic2 {
    flex-direction: column;
    background: 50% / 50% var(--svg),  var(--accent4);
  }
  .topic-blurb {
    width: 90%;
  }
  .topic-picture {
    width: 90%;
    margin-bottom: 20px;
  }
  .blurb-header {
    font-size: 35px;
  }
}

@media (max-width: 700px) {
  #contact {
    flex-direction: column;
  }
  form {
    border-right: none;
    border-bottom: 2px solid var(--accent2);
    padding: 0 0 50px 0;
    width: 90%;
  }
  .contact-info {
    padding-top: 50px;
    width: 80%;
  }
  .blurb {
    text-align: center;
  }
}